body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    background-color: rgb(41, 161, 25);
    color: black;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
}

nav {
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}
.flexbox-container {
    display:flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: autho 100px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E
}
